[Unit]
Description=challenge gunicorn daemon
After=network.target

[Service]
PIDFile={{ pid_directory }}/pid
User={{ runtime_user }}
Group={{ runtime_user }}
WorkingDirectory={{ install_directory }}
ExecStart=/usr/bin/authbind /usr/local/bin/gunicorn --workers 4 -b 0.0.0.0:80 -c {{ install_directory }}/conf.py --pid {{ pid_directory }}/pid server:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
