<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
 
<div class="login">
<div class="login-screen">
<div class="app-title">
	<div class="login-form">
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name"></label>
	rax.io{1imp3rial_s3kret$}ctf
</div>
	</div>
</div>
</div>
</div>
{% endblock %}
