<html>
    <head>
        <title>Guess the flag: You win!</title>
    </head>
    <body>
        <h1>Guess the flag!</h1>
        <p>Congratulations, {{ session['flag'] }} is the correct answer. You don't get bonus points for showing off.</p>
        <p><a href="{{ url_for('index') }}">Play again</a></p>
    </body>
</html>