<html>
    <head>
        <title>Guess the flag!</title>
    </head>
    <body>
        <h1>Guess the flag!</h1>
        {% if try_number == 1 %}
        <p>Okay hotshot. You think you're so clever. Guess this flag.</p>
        {% else %}
        <p>Sorry, {{ guess }} is incorrect. Try again!</p>
        {% endif %}
        <form action="">
            Try #{{ try_number }}: <input type="text" name="guess">
            <input type="submit">
        </form>
    </body>
</html>