<html>
    <head>
        <title>Guess the flag: You lose!</title>
    </head>
    <body>
        <h1>Guess the flag!</h1>
        <p>Sorry, {{ guess }} is incorrect. Wow. What did you think would happen if you guessed {{ try_number }} times?</p>
        <p><a href="{{ url_for('index') }}">Play again</a></p>
    </body>
</html>